<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.PermissionMapper">

    <select id="selectByRoleId" resultType="Permission" parameterType="int">
        SELECT
        p.id,
        p.name,
        r.id,
        r.name,
        t.id,
        t.rid,
        t.pid
        FROM tb_permission p
        RIGHT JOIN tb_role_permission t ON p.id = t.pid
        LEFT JOIN tb_role r ON t.rid = r.id
        WHERE r.id = #{id}
    </select>
</mapper>